.maindiv{
	position: absolute;
        width:30%;
        height:40%;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin: auto;
        background-color:  rgba(255, 255, 255, 0.9); /* o ultimo parametro é a opacidade da caixa */
        overflow: auto;
        
        border-radius: 25px;
        padding:25px;
}

.maindiv h2 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }


.maindiv1{
	position: absolute;
        width:200px;
        height:210px;
        right:0;
        top:0;
        margin-right: 20px;
        margin-top: 20px;
        background-color:  rgba(255, 255, 255, 0.9); /* o ultimo parametro é a opacidade da caixa */
        overflow: auto;
        
        border-radius: 25px;
        padding:25px;
}

.maindiv1 h2 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }


.maindiv2{
	position: absolute;
        width:20%;
        height:21%;
        right:0;
        left:0;
        bottom: 0;
        margin-top: 200px;
        background-color:  rgba(255, 255, 255, 0.9); /* o ultimo parametro é a opacidade da caixa */
        overflow: auto;
        
        border-radius: 25px;
        padding:25px;
}

.maindiv2 h2 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.maindiv3{
    position: absolute;
    width:10%;
    height:15%;
    right:0;

    margin-right: 20px;
    margin-top: 300px;
    background-color:  rgba(255, 255, 255, 0.9); /* o ultimo parametro é a opacidade da caixa */
    overflow: auto;

    border-radius: 25px;
    padding:25px;
}

.maindiv3 h2 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.maindiv4{
    position: absolute;
    width:30%;
    height:40%;


    background-color:  rgba(255, 255, 255, 0.9); /* o ultimo parametro é a opacidade da caixa */
    overflow: auto;

    border-radius: 25px;
    padding:25px;
}

.maindiv4 h2 { color: #000; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }



body { 
    width: 50%;
    height:50%;
    font-family: 'Open Sans', sans-serif;
    background: #110956; /* cor do background*/
    }
    
input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.5);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(1,1,1,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(150,150,150,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


#header { position:relative; background: #303030; margin-bottom: 20px; }
  
#logo {
  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
  position: relative; 
  overflow: hidden; 
  width: 250px; height: 108px;
  font-size:230%;
  margin: 0;
  line-height: 108px;
  text-align: center;
}
#logo a{
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  border-left: 8px solid #3579DC;  
  padding: 0px 10px 7px 10px;  
}

#logo span {
  color: #676767;
  font-weight: bold;
}

#logo a:hover span {
  color: #fff;
  font-weight: bold;
}

.floatingbuttondiv{
      width:15%;
      float:right;
      text-align:right;
  }

.floatingbutton{
    display:inline-block;
    white-space: normal;
}